.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #888888;
}

.navbar-text {
  margin-left: 15px;
}


.accounts-list {
  list-style: none;
  padding: 5px;
  font-size: 18px;
  margin: 5px;
}

.accounts-list-amount {
  font-weight: bold;
}

.totals {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

input[type="number"] {
   width: 200px;
}
