// color descriptive variables:
$dollargreen: #90a97e;
$cornsilk: 	#FFF8DC;
$piggie: #e7c4e5;
$black: #000000;
$softred: #E47575;
$darkred: #8A1815;
$balletpink: #F1C6C6;

// color functional variables:
$dark_text_color: $black;
$light_text_color: $cornsilk;
$link_color: $balletpink;
$background_color: $dollargreen;

// navbar colors
$nav_background_color: $cornsilk;
$nav_text_color: $balletpink;
$nav_active_tab_color: $balletpink;
$nav_active_tab_text_color: $cornsilk;

.navbar-default .navbar-brand {
    color: $black;
}

.navbar-text {
  margin-left: 15px;
  color: $nav_text_color;
}

.navbar {
  background-color: $nav_background_color;
}

.navbar-default
.navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: $nav_active_tab_color;
  color: $nav_active_tab_text_color;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $nav_background_color;
}

.navbar-default {
  border-color: $background_color;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: $light_text_color;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $background_color;
}


.accounts-list {
  list-style: none;
  padding: 5px;
  font-size: 18px;
  margin: 5px;
}

.accounts-list-amount {
  font-weight: bold;
}

.totals {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

input[type="number"] {
   width: 200px;
}

a {
  color: $link_color;
}

.please-log-in {
  background-color: $background_color;
  font-size: 25px;
  font-weight: bold;
  color: $light_text_color;
  text-align: center;
}
